In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn.cluster as cluster
from sklearn.cluster import KMeans
import time
%matplotlib inline

In [11]:
tabela =  pd.read_csv('Dataset_fifa.csv') # lendo a planilha

C:\Users\betof\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (23,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [25]:
tabela.head()

,Unnamed: 0,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,0,Cristiano Ronaldo,32,https://cdn.sofifa.org/48/18/players/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Real Madrid CF,https://cdn.sofifa.org/24/18/teams/243.png,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
1,1,L. Messi,30,https://cdn.sofifa.org/48/18/players/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,93,93,FC Barcelona,https://cdn.sofifa.org/24/18/teams/241.png,...,57.0,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0
2,2,Neymar,25,https://cdn.sofifa.org/48/18/players/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,94,Paris Saint-Germain,https://cdn.sofifa.org/24/18/teams/73.png,...,59.0,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0
3,3,L. Suárez,30,https://cdn.sofifa.org/48/18/players/176580.png,Uruguay,https://cdn.sofifa.org/flags/60.png,92,92,FC Barcelona,https://cdn.sofifa.org/24/18/teams/241.png,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
4,4,M. Neuer,31,https://cdn.sofifa.org/48/18/players/167495.png,Germany,https://cdn.sofifa.org/flags/21.png,92,92,FC Bayern Munich,https://cdn.sofifa.org/24/18/teams/21.png,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
tabela.columns

colunas_a_apagar = ["Photo", "Nationality", "Flag", "Club Logo","Name","Club","ID","Preferred Positions","Value","Wage"]

tabela1 = tabela.drop(colunas_a_apagar, 1)
tabela1 = tabela1.replace("€","",regex=True)
#tabela1 = tabela1.replace("K","000",regex=True)
#tabela1 = tabela1.replace("M","000000",regex=True)
#tabela1 = tabela1.replace(".","",regex=True)

tabela.columns

Index(['Unnamed: 0', 'Name', 'Age', 'Photo', 'Nationality', 'Flag', 'Overall',
       'Potential', 'Club', 'Club Logo', 'Value', 'Wage', 'Special',
       'Acceleration', 'Aggression', 'Agility', 'Balance', 'Ball control',
       'Composure', 'Crossing', 'Curve', 'Dribbling', 'Finishing',
       'Free kick accuracy', 'GK diving', 'GK handling', 'GK kicking',
       'GK positioning', 'GK reflexes', 'Heading accuracy', 'Interceptions',
       'Jumping', 'Long passing', 'Long shots', 'Marking', 'Penalties',
       'Positioning', 'Reactions', 'Short passing', 'Shot power',
       'Sliding tackle', 'Sprint speed', 'Stamina', 'Standing tackle',
       'Strength', 'Vision', 'Volleys', 'CAM', 'CB', 'CDM', 'CF', 'CM', 'ID',
       'LAM', 'LB', 'LCB', 'LCM', 'LDM', 'LF', 'LM', 'LS', 'LW', 'LWB',
       'Preferred Positions', 'RAM', 'RB', 'RCB', 'RCM', 'RDM', 'RF', 'RM',
       'RS', 'RW', 'RWB', 'ST'],
      dtype='object')

In [15]:
tabela1.head()

,Unnamed: 0,Age,Overall,Potential,Special,Acceleration,Aggression,Agility,Balance,Ball control,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,0,32,94,94,2228,89,63,89,63,93,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
1,1,30,93,93,2154,92,48,90,95,95,...,57.0,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0
2,2,25,92,94,2100,94,56,96,82,95,...,59.0,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0
3,3,30,92,92,2291,88,78,86,60,91,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
4,4,31,92,92,1493,58,29,52,35,48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
from sklearn.cluster import KMeans

km = KMeans(n_clusters= 70)
dados = tabela1._get_numeric_data().dropna(axis=1) # pegando so dados numericos e retirando NaN
km.fit(dados) # funcao do cluster
clusters = km.predict(dados) # criando os grupos
clusters

array([ 8,  8,  8, ..., 56, 56, 56])

In [18]:
clusters[17980] # pegando um jogador especifico e vendo em que grupo está (nesse caso um jogador aleatorio)

56

In [24]:
clusters == 56
tabela_grupo_56 = tabela1[clusters == 56]

#obs: reduzir numero de colunas para ajustar melhor os clusters

# o que falta: pegar cada linha do dataset filtrado com o cluster desejado (comando acima para filtrar o dataset de acordo com o grupo), fazer distancia de todos os jogadores desses clusters para o jogador desejado ( soma dos numeros de cada coluna ao quadrado) e comparar os valores para ver qual outro jogador mais de aproxima desse.

tabela_grupo_56.tail()

,Unnamed: 0,Age,Overall,Potential,Special,Acceleration,Aggression,Agility,Balance,Ball control,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
17974,17974,18,46,56,1105,66,40,45,48,34,...,46.0,45.0,34.0,41.0,33.0,35.0,33.0,34.0,44.0,33.0
17975,17975,28,46,46,1174,25,52,40,52,46,...,37.0,38.0,45.0,42.0,42.0,42.0,41.0,41.0,38.0,41.0
17978,17978,17,46,61,1194,66,26,60,77,41,...,31.0,28.0,38.0,29.0,45.0,42.0,45.0,44.0,32.0,45.0
17979,17979,18,46,64,1302,57,46,58,74,43,...,47.0,46.0,45.0,47.0,43.0,45.0,41.0,44.0,46.0,41.0
17980,17980,18,46,64,1031,48,52,49,47,32,...,40.0,45.0,30.0,38.0,29.0,30.0,31.0,29.0,38.0,31.0