In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn.cluster as cluster
from sklearn.cluster import KMeans
import time
%matplotlib inline

In [48]:
tabela =  pd.read_csv('Dataset_fifa.csv') # lendo a planilha

C:\Users\betof\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (23,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [116]:
tabela.head()

tabela2 = tabela.astype('float') # transformar variaveis para float

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [50]:
tabela.columns

colunas_a_apagar = ["Photo", "Nationality", "Flag", "Club Logo","Name","Club","ID","Preferred Positions","Value","Wage"]

tabela1 = tabela.drop(colunas_a_apagar, 1)
tabela1 = tabela1.replace("€","",regex=True)
#tabela1 = tabela1.replace("K","000",regex=True)
#tabela1 = tabela1.replace("M","000000",regex=True)
#tabela1 = tabela1.replace(".","",regex=True)

tabela.columns

Index(['Unnamed: 0', 'Name', 'Age', 'Photo', 'Nationality', 'Flag', 'Overall',
       'Potential', 'Club', 'Club Logo', 'Value', 'Wage', 'Special',
       'Acceleration', 'Aggression', 'Agility', 'Balance', 'Ball control',
       'Composure', 'Crossing', 'Curve', 'Dribbling', 'Finishing',
       'Free kick accuracy', 'GK diving', 'GK handling', 'GK kicking',
       'GK positioning', 'GK reflexes', 'Heading accuracy', 'Interceptions',
       'Jumping', 'Long passing', 'Long shots', 'Marking', 'Penalties',
       'Positioning', 'Reactions', 'Short passing', 'Shot power',
       'Sliding tackle', 'Sprint speed', 'Stamina', 'Standing tackle',
       'Strength', 'Vision', 'Volleys', 'CAM', 'CB', 'CDM', 'CF', 'CM', 'ID',
       'LAM', 'LB', 'LCB', 'LCM', 'LDM', 'LF', 'LM', 'LS', 'LW', 'LWB',
       'Preferred Positions', 'RAM', 'RB', 'RCB', 'RCM', 'RDM', 'RF', 'RM',
       'RS', 'RW', 'RWB', 'ST'],
      dtype='object')

In [51]:
tabela1.head()

,Unnamed: 0,Age,Overall,Potential,Special,Acceleration,Aggression,Agility,Balance,Ball control,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,0,32,94,94,2228,89,63,89,63,93,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
1,1,30,93,93,2154,92,48,90,95,95,...,57.0,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0
2,2,25,92,94,2100,94,56,96,82,95,...,59.0,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0
3,3,30,92,92,2291,88,78,86,60,91,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
4,4,31,92,92,1493,58,29,52,35,48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
from sklearn.cluster import KMeans
n = 80
km = KMeans(n_clusters= n)
dados = tabela1._get_numeric_data().dropna(axis=1) # pegando so dados numericos e retirando NaN
km.fit(dados) # funcao do cluster
clusters = km.predict(dados) # criando os grupos
clusters

array([12, 12, 12, ..., 73, 73, 73])

In [53]:
clusters[17980] # pegando um jogador especifico e vendo em que grupo está (nesse caso um jogador aleatorio)

73

In [117]:
#tabela["Name"]

In [79]:
lista =[]
maximo = 0
minimo = 100000 

for i in range(0,n):
    clusters == i
    tamanho = len(tabela1[clusters == i])
    lista.append( "cluster {0} = {1}".format(i,tamanho))
    
    if tamanho > maximo: 
        maximo = tamanho 
    if tamanho < minimo:
        minimo = tamanho
        
    
    
#print(lista)
print("maximo",maximo)
print(minimo)


#obs: reduzir numero de colunas para ajustar melhor os clusters

# o que falta: pegar cada linha do dataset filtrado com o cluster desejado (comando acima para filtrar o dataset de acordo com o grupo), fazer distancia de todos os jogadores desses clusters para o jogador desejado ( soma dos numeros de cada coluna ao quadrado) e comparar os valores para ver qual outro jogador mais de aproxima desse.

maximo 326
72

In [103]:
def numero_cluster(pessoa):
    
    indice = tabela1[tabela["Name"] == pessoa].index[0]

    grupo = clusters[indice] # pegando um jogador especifico e vendo em que grupo está (nesse caso um jogador aleatorio)

    return grupo



cluster_jogador = numero_cluster("Cristiano Ronaldo") # escolhendo um jogador

In [118]:
grupo = clusters == cluster_jogador
lista_grupo = []


for i in range(len(grupo)):
    
    if grupo[i] == True:
        nome = tabela["Name"][i]
        lista_grupo.append(nome)
        
#lista_grupo

In [114]:
lista_distancia = [] 
for i in lista_grupo:
    
    valores = tabela1.values[tabela["Name"] == i]
    distancia = 0
    for i in range(len(valores)):
        print(valores[i])

        distancia += valores[i]**2
        
        lista_distancia.append(distancia)
        
# falta comparar as distancias com a distancia do jogador desejado 
# falta transformar dataset para float


        
print(valores)

[0 32 94 94 2228 '89' '63' '89' '63' '93' '95' '85' '81' '91' '94' '76' '7'
 '11' '15' '14' '11' '88' '29' '95' '77' '92' '22' '85' '95' '96' '83' '94'
 '23' '91' '92' '31' '80' '85' '88' 89.0 53.0 62.0 91.0 82.0 89.0 61.0 53.0
 82.0 62.0 91.0 89.0 92.0 91.0 66.0 89.0 61.0 53.0 82.0 62.0 91.0 89.0 92.0
 91.0 66.0 92.0]

TypeError: can't multiply sequence by non-int of type 'str'